.page-container {
    position: relative;
    margin-bottom: 8px;
    display: inline-block;
}

.click-marker {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
    /* Relleno semitransparente */
    border: 1.5px solid red;
    box-sizing: border-box;
    /* El borde no aumenta el tamaño */
    transform: translateY(-100%);
    /* Lo posiciona con la esquina inferior izquierda en el clic */
    pointer-events: none;
}